<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image results</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  
  <body>
    <div class="text-center">    
      <h1>Google Images viewer!</h1>
      <p>Enter search term at the end of this URL: https://vd1-images.glitch.me/search/yourSearchTerm</p>
      <p>Example: try <a href="https://vd1-images.glitch.me/search/cute hedgehog" target="_blank">/search/cute hedgehog</a></p>      
      <p><br></p>
      <p>To see the last 10 searches visit: <a href="https://vd1-images.glitch.me/recent" target="_blank">/recent</a></p>      
      <p>For results in JSON format visit: https://vd1-images.glitch.me/api/yourSearchTerm</p>
    </div>
  </body>
  
</html>